apscheduler==3.10.1
chatgpt_tool_hub==0.4.6
dulwich==0.21.5
gtts==2.3.2
HTMLParser==0.0.2
langid==1.1.6
Pillow==10.0.0
pip==19.2.3
pydub==0.25.1
pyqrcode==1.2.1
pysilk==0.0.1
pyttsx3==2.90
qrcode==7.4.2
Requests==2.31.0
tiktoken==0.4.0
web==0.6.0
wechatpy==1.8.18
wechaty==0.10.7
wechaty_puppet==0.4.23
